/* GLOBAL SETTINGS */
* h1, h2, p, ul {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
}

.link {
    text-decoration: none;
    font-style: normal;
}
.link:hover,            /* .link:active, */
.link:focus {
    color: #2196F3;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding: 94px 0;
}


/* NAVIGATION PANEL */
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    border-bottom: 1px solid #ECECEC;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #2196F3;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192307692307692;
}
.accent1 {
    color: #000000;
}
.accent2 {
    color: #FFFFFF;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin-right: 298px;
}

.nav-page {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.142857142857143;
    margin: 0 23px;
}

.contacts-list {
    display: flex;
}

.contact1 {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-left: 50px;
}


/* HEADER */
.head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2F303A;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 452px;
}

.heading1 {
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.363636363636364;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.head-button {
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: bold;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 42px;
    margin-top: 15px;
}

.cards-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex-basis: calc((100% - 90px) / 4);
    list-style: none;
    margin: 0 15px;
}
.card:nth-child(4n + 4) {
    margin-right: 0;
}
.card:nth-child(4n+1) {
    margin-left: 0;
}

.article-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.142857142857143;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.article-text {
    color: #757575;
    font-size: 14px;
    line-height: 1.714285714285714;
}


/* SECTION 2 - ABOUT US */
.header2 {
    font-weight: 700;
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 50px;
}

.about-us-list {
    display: flex;
    justify-content: space-between;
}


/* SECTION 3 - OUR TEAM */
.our-team{
    background-color: #F5F4FA;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.our-team-list {
    display: flex;
    justify-content: space-between;
}

.our-team-list>li {
    text-align: center;
}

.name {
    font-weight: 500;
    line-height: 1.1875;
    color: #212121;
}

.our-team-card {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-card>img {
    margin-bottom: 30px;
}

.job {
    color: #757575;
    margin-top: 10px;
    margin-bottom: 30px;
}


/* SECTION PORTFOLIO*/
.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.filters-list>li:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    background-color: #F5F4FA;
    cursor: pointer;
    border-width: 0;
    line-height: 1.625;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 22px;
}

.filter-button:focus,
.filter-button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card:nth-child(n+4) {
    margin-top: 30px;
}

.product-card {
    border: #EEEEEE 1px solid;
}

.product-card>img {
    margin-bottom: 20px;
}

.product-title {
    font-weight: bold;
    font-size: 1.125em;
    line-height: 2;
    margin-bottom: 4px;
    padding-left: 20px;
}

.product-type {
    color: #757575;
    line-height: 1.875;
    margin-bottom: 20px;
    padding-left: 20px;
}


/* FOOTER */
.footer {
    background-color: #2F303A;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0px;
}

address {
    margin-top: 20px;
}

.contact2,
.contact3 {
    line-height: 1.714285714285714;
}

.contact2>a {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 1.714285714285714;
}

.contact3>a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6); /* bialy, 60% przezroczystosci */
    line-height: 1.714285714285714;
}